<nav class="navbar navbar-expand-lg navbar-light" id="nav">
        <div class="container-fluid">
            <a class="navbar-brand js-scroll-trigger" href="/">
                <span class="open-nav">Home</span>
            </a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Home
                <i class="fa fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="{{url_for('main.new_blog')}}">CREATE BLOG  |</a>
                    </li>
                    <li class="nav-item">
                        <a class="" href="/#blog-content">BLOGS  |</a>
                    </li>
                    {% if current_user.is_authenticated %}
                    <li style="color:black;padding:15px;">{{current_user.username | capitalize}}</li>
                    <li><a lass="nav-link js-scroll-trigger" href="{{url_for('auth.logout')}}">SIGN OUT  |</a></li>
                    {% else %}
                    <li><a lass="nav-link js-scroll-trigger" href="{{url_for('auth.login')}}">LOGIN  |</a></li>
                    {%endif%}
                </ul>
            </div>
        </div>
</nav>