<nav class="navbar navbar-expand-lg navbar-light" id="nav">
        <div class="container-fluid">
            <a class="navbar-brand js-scroll-trigger" href="/">
                <span class="open-nav">Home</span>
            </a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Home
                <i class="fa fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/#projects">RECIPES  |</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/#skills">CRAFTS  |</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/#contact">PHOTOS  |</a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="/#contact">DECOR  |</a>
                    
                    </li>
                    {% if current_user.is_authenticated %}
                    <li style="color:white;padding:15px;">{{current_user.username}}</li>
                    <li><a href="{{url_for('auth.logout')}}">Sign out</a></li>
                    {% else %}
                    <li><a href="{{url_for('auth.login')}}">Sign in</a></li>
                    {%endif%}
                </ul>
            </div>
        </div>
</nav>